@model GuideDto

<form asp-action="Create" asp-controller="Guide" method="post">
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" type="text" class="form-control">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Subtitle" class="form-label"></label>
        <input asp-for="Subtitle" class="form-control" type="text">
        <span asp-validation-for="Subtitle" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Content" class="form-label"></label>
        <textarea asp-for="Content" rows="30" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>